*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Esto mejora el rendimiento de la paǵina*/
}

html{
    /*font-size: 10px; It is easier to make calculations with rem on 10 px (1 rem = 10px)*/
    font-size: 62.5%; /*62.5% = 10/16*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400; /*No lleva unidades, es la cantidad de negrita*/
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}